@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f58220;
  --color-secondary: #fef3e9;
  --color-light: #fef0e5;
  --color-dark: #020617;
}

body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  /* scrollbar-color: var(--color-primary) transparent; */
}
/* 
.customli:nth-last-child(2) {
  margin-top: 170px;
} */

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: var(--color-primary) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
